on boot
    start qti.vibrator

service qti.vibrator /system/bin/vendor.qti.hardware.vibrator.service
    user root
    group root
    disabled
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    seclabel u:r:recovery:s0
